<?xml version="1.0" encoding="UTF-8"?>
!!! XML
%urlset{:xmlns => "http://www.sitemaps.org/schemas/sitemap/0.9"}
  %url
    %loc http://www.salesverge.com
    %lastmod 2012-09-17
    %priority 1.0
  %url
    %loc http://www.salesverge.com/ipad
    %lastmod 2012-08-14
    %priority 0.8
  %url
    %loc http://www.salesverge.com/iphone
    %lastmod 2012-08-14
    %priority 0.8
  %url
    %loc http://www.salesverge.com/videos
    %lastmod 2012-09-19
    %priority 0.5
  %url
    %loc http://www.salesverge.com/blog
    %lastmod 2012-08-14
    %priority 0.66
  %url
    %loc http://www.salesverge.com/about
    %lastmod 2012-08-23
    %priority 0.50

  - @posts.each do |post|
    %url
      %loc http://www.salesverge.com/blog/posts/#{post.slug}
      %lastmod=post.updated_at.strftime("%Y-%m-%d")
      %priority 0.33
