- @title = "Videos"
- @meta_description = "Learn more about SalesVerge. Check out our video library."

.container
  .row
    .span4
      .page-header
        %h1.main Videos
        %h3 Check out our selection of videos
  .row
    .span12
      #vidioesUl.thumbnails
        #li.span3
          %a{:href=>"/video-product-video.html", :class=>"thumbnail", :id=>"video-thumb", :rel=>"facebox"}
            %img{:src=>"/assets/video-thumb.jpg", :alt=>"Product Video", :width => "290"}
            %p
              About SalesVerge
        #li.span3
          %a{:href=>"/video-getting-started.html", :class=>"thumbnail", :id=>"video-thumb", :rel=>"facebox"}
            %img{:src=>"/assets/getting-started-video-thumb.jpg", :alt=>"Getting Started Video", :width => "290"}
            %p
              Getting started with SalesVerge
        #li.span3
          %a{:href=>"/video-collaboration.html", :class=>"thumbnail", :id=>"video-thumb", :rel=>"facebox"}
            %img{:src=>"/assets/collaboration-video-thumb.jpg", :alt=>"Collaboration Video", :width => "290"}
            %p
              How-to: Collaboration with SalesVerge
  .row
    .span12
      %hr
      %h3 Ready to try the app?
      .sign_up_form
        %form#form103{ :name => "form103", :autocomplete => "off", :enctype => "multipart/form-data", :method => "post", :action => "https://dealerignition.wufoo.com/forms/z7p8a9/#public"}
          .input-append
            %input#Field1.span3{ :name => "Field1", :type => "email", :spellcheck => "false", :value => "", :maxlength => "255", :tabindex => "1", :placeholder => "email@example.com" } 
            %input#saveForm.btn.btn-primary.btn-large{ :name => "saveForm", :type => "submit", :value => "TRY FOR FREE!" }
          .hide{ :style => "display:none" }
            %label{ :for => "comment" }
              (empty)
            %textarea{ :name => "comment", :id => "comment", :rows => "1", :cols => "1"}
            %input#idstamp{ :type => "hidden", :name => "idstamp", :value => "677Ekg9h804SzOpIVjRw6YvnPQCR15vgtbrr9fV+2Sw="}  

.white-bg
  .container
    .row
      .span2.offset2
        %i.icon-briefcase.big-icon{:style=>"color:#333;"}
      .span6
        .description
          SalesVerge is a <strong>business app</strong> for the <a class='hero-link' href='http://www.salesverge.com/ipad'><strong>iPad</strong></a>
          and <a class='hero-link' href='http://www.salesverge.com/iphone'><strong>iPhone</strong></a> made to help you keep track of customers even <em>before</em> 
          they buy from you. SalesVerge manages your customer relationships <em>on and off</em> the showroom floor. Your customers come back to you, not another salesperson.

:javascript
  jQuery(document).ready(function($) {
    $('a[rel*=facebox]').facebox() 
  })
      
          
