%script{ :type => "text/javascript", :src => "//static.getclicky.com/js" }
:javascript
  try{ clicky.init(66617194); }catch(e){}
%noscript
  %p
    %img{ :alt => "Clicky", :width => "1", :height => "1", :src => "//in.getclicky.com/66617194ns.gif" }