- @title = "iPad Business Tools"
- @meta_description = "Carry your iPad and have powerful sales tool by your side."

%br
.row
  .span7
    %br
    .btn-group
      
    %br
    %h1 
      Sales Tools.
      %br
      On Your iPad.
    %br
    %p
      Use an <strong>iPad</strong> in your sales process? Carry a powerful <strong>sales tool</strong> where-ever you go. SalesVerge is a <strong>business</strong>
      app for the <strong>iPad</strong> made to help you keep track of 
      customers even before they buy from you.
    %br
    %ul.thumbnails
      %li.span2
        .thumbnail
          %img{ :src => "assets/engage-customers.jpg", :alt => "Do This" }
      %li.span2
        .thumbnail
          %img{ :src => "assets/connect-with-customers.jpg", :alt => "Do This" }
      %li.span2
        .thumbnail
          %img{ :src => "assets/sell-more.jpg", :alt => "Do This" }    
    .sign_up_form
      %form#form103{ :name => "form103", :autocomplete => "off", :enctype => "multipart/form-data", :method => "post", :action => "https://dealerignition.wufoo.com/forms/z7p8a9/#public"}
        .input-append
          %input#Field1.span3{ :name => "Field1", :type => "email", :spellcheck => "false", :value => "", :maxlength => "255", :tabindex => "1", :placeholder => "email@example.com" } 
          %input#saveForm.btn.btn-primary.btn-large{ :name => "saveForm", :type => "submit", :value => "TRY FOR FREE!" }
        .hide{ :style => "display:none" }
          %label{ :for => "comment" }
            (empty)
          %textarea{ :name => "comment", :id => "comment", :rows => "1", :cols => "1"}
          %input#idstamp{ :type => "hidden", :name => "idstamp", :value => "677Ekg9h804SzOpIVjRw6YvnPQCR15vgtbrr9fV+2Sw="}
      %h4 Enter your email and you can get an opportunity to try the app today!
  
  .span5
    %img.pull-right{ :src => "assets/ipad-sales-tool.png", :alt => "Business Tool", :width => "371", :height => "530" }
    