- @title = "Business Tools on Your iPhone"
- @meta_description = "Use your iPhone to help help your sales process and engage with customers"

.row
  %br
  .hero-unit
    %h1 Business Tools on Your iPhone
    %p Carry a powerful sales tool where-ever you go.