- @title = "iPhone as a Powerful Sales Tool"
- @meta_description = "Use your iPhone to help your sales process and engage with customers"

%br
.row
  .span4
    %img.pull-left{ :src => "assets/iphone-sales-tool.png", :alt => "Use your iPhone as a powerful sales tool.", :width => "", :height => "500" }
  
  .span8
    %br
    .btn-group
      = link_to "iPad", "#{HOST}/ipad", :class => "btn border-fix"
      = link_to "iPhone", "#{HOST}/iphone", :class => "btn active border-fix"
    %br
    %h1 
      Use your iPhone as a Powerful Sales Tool
    %br
    %p
      You already carry your <strong>iPhone</strong> where-ever you go. Put it to good use with a powerful <strong>sales tool</strong>. 
      Manage customers in a CRM. Send them quotes. All right from your <strong>iPhone</strong>.
    %br
    %ul.thumbnails
      %li.span2
        .thumbnail
          %img{ :src => "assets/engage-customers.jpg", :alt => "Engage customers - iPhone" }
      %li.span2
        .thumbnail
          %img{ :src => "assets/connect-with-customers.jpg", :alt => "Connect with customers - iPhone" }
      %li.span2
        .thumbnail
          %img{ :src => "assets/sell-more.jpg", :alt => "Keep customers coming back for more - iPhone" }    
    .sign_up_form
      %form#form103{ :name => "form103", :autocomplete => "off", :enctype => "multipart/form-data", :method => "post", :action => "https://dealerignition.wufoo.com/forms/z7p8a9/#public"}
        .input-append
          %input#Field1.span3{ :name => "Field1", :type => "email", :spellcheck => "false", :value => "", :maxlength => "255", :tabindex => "1", :placeholder => "email@example.com" } 
          %input#saveForm.btn.btn-primary.btn-large{ :name => "saveForm", :type => "submit", :value => "TRY FOR FREE!" }
        .hide{ :style => "display:none" }
          %label{ :for => "comment" }
            (empty)
          %textarea{ :name => "comment", :id => "comment", :rows => "1", :cols => "1"}
          %input#idstamp{ :type => "hidden", :name => "idstamp", :value => "677Ekg9h804SzOpIVjRw6YvnPQCR15vgtbrr9fV+2Sw="}
      %h4 Get a chance to try the app for free right now!
  .span12
    %hr
    %br
