.marketing .thumbnail {
  min-height: 315px;
}
.marketing .thumbnail .caption {
  font-size: 18px;
  line-height: 24px;
  font-weight: 200;
}
#hero1 {
  margin: 15px 0px 40px -25px;
  max-width: initial;
}

