body {
  background-color: #f4f4f4;
}

.header {
  background: #222 url(../assets/black_linen_v2.png);
  position: relative;
  z-index: -1;
  color: #fff;
  padding: 20px;
}

.logo {
  margin: 8px 0 28px 0;
}

.screens {
  z-index: 10;
  margin-top: -50px;
}

.center {
  text-align: center;
}

